
<div class="jumbo">
  <div class="right tomster"></div>
  <h2>About Chung-Min</h2>
  <p>
    I love to create beautiful Web experience with latest technologies. I hope any user can have pleasant feelings while surfing on the internet, no matter what devices they use and no matter where they are. I always try the best to make every work to reach Web and company standard because I believe great works should not just look great to the users, but also its code should look great to the developers.
  </p>
</div>

