<div class="menu">
  <div class="left links">
    <div class="sticky">
      <div class="sticky-image">
        {{#link-to 'index' class='nav-link home-link'}}
          Home
        {{/link-to}}
        {{#link-to 'about' class='nav-link about-link'}}
          About
        {{/link-to}}
        {{#link-to 'work' class='nav-link work-link'}}
          Work
        {{/link-to}}
        {{#link-to 'contact' class='nav-link contact-link'}}
          Other
        {{/link-to}}
      </div>
      <div class="sticky-social">
        <ul class="list-inline">
          <li>
            <a class="links" target="_blank" href="https://www.facebook.com/chungmin.cheng.9">
              <i class="icon-facebook-sign"></i>
            </a>
          </li>
          <li>
            <a class="links" target="_blank" href="http://github.com/cchungmin">
              <i class="icon-github-sign"></i>
            </a>
          </li>
          <li>
            <a class="links" target="_blank" href="http://plus.google.com/101928195101978330342">
              <i class="icon-google-plus-sign"></i>
            </a>
          </li>
          <li>
            <a class="links" target="_blank" href="https://jp.linkedin.com/in/chungmincheng">
              <i class="icon-linkedin-sign"></i>
            </a>
          </li>
          <li>
            <a class="links" target="_blank" href="https://twitter.com/ChungMinCheng">
              <i class="icon-twitter-sign"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="body container">
  {{outlet}}
</div>
